
.bottom{
    padding: 1% ;
    /* height: 80vh; */
}

.bottom_in{
    background-color: #B68973;
    height: 50vh;
    display: flex;
    flex-direction: row;
    gap: 3%;
    flex: 50%;
    font-size: 20px;
}
.menu{
width: 48vw;
margin: 5% 0% 5% 8%;
text-align: center;
}
.support{
    width: 48vw;
    text-align: center;
    margin: 5% 8% 5% 0%;

}

.heading_f {
    /* margin-top: 180px; */
    margin-left: 0%;
  
  
  }

  .heading_in_f {
    padding: 1%;
    position: relative;
  }
  
  .heading1_f {
    font-size: 200px;
    width: 100%;
    align-content: center;
    margin-top: 0%;
    text-align: center;
  }
  
  .image_location{
    width: 1.8vw;
    height: 3.8vh;
  }
  .para_location{
    font-size: 18px;
  }
  .Address_location{
    display: flex;
    flex-direction: row;
    gap: 3%;
    margin: 7% 0% 1% 24% ;
  }
  .email_location{
    display: flex;
    flex-direction: row;
    gap: 3%;
    margin: 2% 0% 1% 24% ;
  }
  .Address_location1{
    display: flex;
    flex-direction: row;
    gap: 3%;
    margin: 7% 0% 1% 29% ;
  }
  .email_location1{
    display: flex;
    flex-direction: row;
    gap: 3%;
    margin: 2% 0% 1% 29% ;
  }