
.heading2_n {
    margin-top: 180px;


}

.heading_in2_n {
    padding: 1%;
}

.heading12_n{
    font-size: 200px;
    width: 100%;
    align-content: center;
    text-align: center;
}
.in_launch{
    margin: 0% 5% 2% 5%;
}
.para_n{
    font-size: 20px;
}
.h1_tag_n{
text-align: center;
margin: 4%;
}