* {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Manrope', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    text-decoration: none !important; 

}
.box:hover{
    box-shadow: 0 0 21px rgba(33,33,33,.2);
}

.nav {
    position: relative;
    background-color:  #F0EBE3;
    height: 80px;
    z-index: 999;

}

.nav_bar_fixed {
    position: fixed;
    top: inherit;
    background-color:  #F0EBE3;
    height: inherit;
    width: 100vw;
    display: flex;
    align-items: center;
    gap: 15vw;
    justify-content: space-between;

}

.nav_left ul {
    background-color:  #F0EBE3;
    height: inherit;
    display: flex;
    width: 35vw;
    padding: 3%;
    gap: 4%;
    float: left;
    text-align: center;
    text-decoration: none;


}

.nav_right ul {
    background-color:  #F0EBE3;
    height: inherit;
    display: flex;
    flex: 50%;
    width: 35vw;
    padding: 3%;
    gap: 4%;
    justify-content: end;
    float: right;
    text-align: center;
}

a {
    color: black;
}

a:hover {
    color: grey !important;
}

.heading {
    margin-top: 180px;


}

.heading_in {
    padding: 1%;
}

.heading1 {
    font-size: 200px;
    width: 100%;
    align-content: center;
    text-align: center;
}

.middle1 {
    padding: 1%;
    height: 100vh;
}

.image1 {
    background-color: #F0EBE3;
    height: inherit;
}


.middle2 {
    padding: 1%;

}

.middle2_in {
        display: flex;
        position: relative;
        gap: 1%;
        flex-wrap: wrap;
        height: 40vh;
        flex: 25%;
        justify-content: space-between;

}

.box1 {
    background-color: #F0EBE3;
    /* background-image: url("image1.png"); */
    width: 24.5%;
}

.box2 {
    background-color: white;
    border-color: black;
    width: 24%;
}


.box3 {
    background-color: #F0EBE3;
    width: 24%;
}

.box4 {
    background-color: #F0EBE3;
    width: 24%;
}

.heading6{

    padding: 2%;
    width: 10vw;
 font-size: 35px;

    margin: 0% 4% 0% 20%;
}
.middle3 {
    padding: 1%;
    height: 70vh;
}

.image2 {
    background-color: #F0EBE3;
    height: inherit;
    display: flex;
    flex-direction: column;
}
.image3 {
    background-color: #F0EBE3;
    height: inherit;
    display: flex;
    flex-direction: column;


}
.heading5{

    /* padding: 1%; */
    width: 15vw;
    font-size: 60px;
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    gap: 0%;
    margin: 10% 0% 0% 75%;
    justify-content: space-between;


}
.anchor1{
    /* padding: 5%; */
    /* margin: 13% 0% 7% 7%; */
    /* width: 10vw; */
    text-align: center;
}
.anchor2{
    /* padding: 5%; */
    /* margin: 13% 0% 7% 7%; */
    /* width: 10vw; */
    text-align: center;
}

.inbox3{
    display: flex;
    flex-direction: row;
    gap: 0%;
    width: 16vw;
    margin: 10% 0% 0% 75%;
    justify-content: space-between;
}
.para3{
    text-align: center;
    padding: 0% 1% 1% 1%;
    margin: 0% 4% 0% 71%;
    width: 20vw;
    

}
.heading2{

        padding: 5%;
        margin: 7% 8% 7% 70%;
        width: 10vw;
        text-align: center;
}


.middle4 {
    padding: 1%;
    display: flex;
    flex-direction: column;
    height: 80vh;
    row-gap: 5%;
    column-gap: 40vh;

}

.middle41_in {
        display: flex;
        position: relative;
        gap: 1%;
        flex-wrap: wrap;
        flex: 25%;
        justify-content: space-between;

}

.box1_4 {
    background-color: #F0EBE3;
    width: 24%;
}

.box2_4 {
    background-color: white;
    border-color: black;
    width: 24%;
}

.box3_4 {
    background-color: #F0EBE3;
    width: 24%;
}

.box4_4 {
    background-color: #F0EBE3;
    width: 24%;
}
.heading3{

    padding: 2%;
    width: 20vw;
 font-size: 40px;
    text-align: center;
    margin: 0% 4% 0% 5%;


}
.anchor1{
    /* padding: 5%; */
    /* margin: 13% 0% 7% 7%; */
    /* width: 10vw; */
    text-align: center;
}
.anchor2{
    /* padding: 5%; */
    /* margin: 13% 0% 7% 7%; */
    /* width: 10vw; */
    text-align: center;
}

.inbox1{
    display: flex;
    flex-direction: row;
    gap: 0%;
    width: 14vw;
    margin: 10% 4% 0% 19%;
    justify-content: space-between;
}
.para1{
    text-align: center;
    /* padding: 0% 1% 1% 1%;s */
    margin: 0% 4% 0% 5%;
    width: 20vw;
    

}
.middle42_in {
    display: flex;
    position: relative;
    gap: 1%;
    flex-wrap: wrap;
    height: 40vh;
    flex: 25%;
    justify-content: space-between;

}

.box5_4 {
    background-color: #F0EBE3;
    width: 24%;
}

.box6_4 {
    background-color: #F0EBE3;
    border-color: black;
    width: 24%;
}

.box7_4 {
    background-color: #F0EBE3;
    width: 24%;
}

.box8_4 {
    background-color: #F0EBE3;
    width: 24%;
}

.middle43_in{
text-align: center;
padding: 1%;

}
.middle5 {
    padding: 1%;
    height: 80vh;

}

.image3 {
    background-color: #F0EBE3;
    height: inherit;
    display: flex;
    flex-direction: column;

}
.heading4{

    padding: 2%;
    width: 25vw;
    font-size: 40px;
    text-align: center;
    margin: 0% 4% 0% 2%;


}
.anchor1{
    /* padding: 5%; */
    /* margin: 13% 0% 7% 7%; */
    /* width: 10vw; */
    text-align: center;
}
.anchor2{
    /* padding: 5%; */
    /* margin: 13% 0% 7% 7%; */
    /* width: 10vw; */
    text-align: center;
}

.inbox2{
    display: flex;
    flex-direction: row;
    gap: 0%;
    width: 16vw;
    margin: 15% 4% 0% 7%;
    justify-content: space-between;
}
.para2{
    text-align: center;
    padding: 0% 1% 1% 1%;
    margin: 0% 4% 0% 2%;
    width: 20vw;
    

}

.middle6{
    padding: 1%;
    height: 66vh;

}

.para4{
        width: 60vw;
        font-size: 70px;
        align-items: center;
        padding: 3% 2% 3% 25%;
}
.form1{
    width: 30%;
  padding: 12px 20px;
  margin: 2% 0% 1% 25%;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;

}
.para5{
    margin: 1% 0% 3% 25%;
}

@media screen and (max-width: 480px){
    .anchor1{
        font-size: 3vw;
    }
    .anchor2{
        font-size: 3vw;
    }
    .heading4{

        width: 30vw;
     font-size: 10px;
     margin: 0% 4% 0% 0%;
    }
    .inbox2{
        gap: 0%;
        width: 17vw;
        margin: 15% 4% 0% 8%;
        justify-content: space-between;
    }
    .para2{
        font-size: 5px;
        margin: 0% 4% 0% 4%;
    
    }

    /* .heading5{

        width: 30vw;
     font-size: 10px;
     margin: 0% 4% 0% 0%;
    }
    .inbox3{
        gap: 0%;
        width: 17vw;
        margin: 15% 4% 0% 8%;
        justify-content: space-between;
    }
    .para3{
        font-size: 5px;
        margin: 0% 4% 0% 4%;
    
    }
    .heading3{

        width: 30vw;
     font-size: 10px;
     margin: 0% 4% 0% 0%;
    }
    .inbox1{
        gap: 0%;
        width: 17vw;
        margin: 15% 4% 0% 8%;
        justify-content: space-between;
    }
    .para1{
        font-size: 5px;
        margin: 0% 4% 0% 4%;
    
    } */
}
/* 
.nav{
    position: relative;
    background-color:lightblue ;
    height: 80px;
    padding: 1%;

}
    .nav_bar_fixed{
        display: flex;
        flex-direction: column;

    }
    .nav_left ul{
        background-color: lightblue;
     height: inherit;
     display: flex;
     flex: 50%;
     flex-direction: column;
     width: 39vw;
     padding: 2% 5vh;
     gap: 4%;
     
    
    
    }
    .nav_right ul{
        height: inherit;
        display: flex;
        flex-direction: column;
        flex: 50%;
        width: 35vw;
        padding: 2% 5vh;
        gap: 4%;
        
    }
} */
@media screen and (max-width: 768px) {
    /* Styles for screens with a maximum width of 768 pixels */
    .nav_left ul,
    .nav_right ul {
      display: none;
    }
  
    .nav_bar_fixed {
      gap: 10px;
    }
  
    .nav_bar_fixed .menu-toggle {
      display: block;
    }
  
    .nav_bar_fixed .menu-toggle .bar {
      width: 25px;
      height: 3px;
      background-color: #000;
      margin: 5px;
    }
  }
  