
.heading7_p {

}

.heading_in7_p {
  padding: 1%;
  width: 67vw;
  margin: 0% 17% 0% 17% ;
}

/* .heading17_p:hover {
  display: none;
}
 */
.heading17_p {
  font-size: 70px;
  width: 100%;
  text-align: center;
}
/*    
.heading27_p {
  font-size: 70px;
  width: 100%;
  text-align: center;
  display: none;
}

.heading17_p:hover ~ .hidden_pog7_p .heading27_p {
  display: block;
} */


.bg_P{
    margin: 0% 26% 0% 26%;
    background-color: #EAB2A0;
    border-radius:30px ;
}
.form_p{
    margin: 5% 5% 5% 5%;
    font-size: 19px;
    display: flex;
    flex-direction: column;
    gap: 3%;
    height: 80vh;
}
.cardNumber_p{
    width: 20vw;
    padding: 2.8%;

    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-y: hidden ;
}
  
.submit_p {
    padding: 10px 20px;
    background-color: #FFF3E4;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* margin: 1% 0% 1% 0%; */
  }
  
  .submit_p:hover {
    background-color: #6B4F4F;
    color: #000;
  }