/* css taken from Cart */
.heading7_w {

}

.heading_in7_w {
  padding: 1%;
  width: 47vw;
  margin: 0% 27% 0% 27% ;
}

/* .heading17_w:hover {
  display: none;
}
 */
.heading17_w {
  font-size: 70px;
  width: 100%;
  text-align: center;
}
.block_w{
text-align: center;
}
.wishlist-items{
   
}